/* Import de font (Roboto, ) */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* cdn de icons => https://fontawesome.com/search */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

/* Global Style */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* Variaveis globais */
:root {
  --font-primary: "Roboto", sans-serif;
}

/* Hamburguer Menu 
A class .show-menu é criada no script index.js line: 2-6 
*/
.hamburguer {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 1s;
}
.hamburguer:hover {
  width: 2.1rem;
  top: 1.9rem;
  transition: 0.8s;
}

.show-menu .hamburguer {
  right: 16rem;
}

/* Span tag hemburguer menu {fechar} */
.hamburguer span {
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d13b3b;
  color: #ffffff;
  font-family: var(--font-primary);
  opacity: 0;
}
.hamburguer span::before {
  content: "";
  position: absolute;
  border-right: 0.5rem solid #d13b3b;
  border-top: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  left: -1rem;
}

.show-menu .hamburguer:hover span {
  opacity: 1;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #ffffff;
  box-shadow: 0.1rem 0.1rem 1px #000;
  transition: transform 0.5s;
}

/* Make X burguer */
.show-menu .line {
  box-shadow: none;
  background-color: #555;
}

.show-menu #line1 {
  transform: rotate(45deg) translate(0.3rem, 0.45rem);
}
.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}
.show-menu #line3 {
  transform: rotate(-45deg) translate(0.3rem, -0.45rem);
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Imagem banner */
.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 50s;
}

@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  position: absolute;
  top: 30%;
  left: 10%;
}

.banner h1 {
  color: #ffffff;
  font-size: 3.5rem;
  font-family: var(--font-primary);
  font-weight: 200;
  text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.4);
  line-height: 3.5rem;
  margin-bottom: 2rem;
  animation: moveBanner 3s;
}

.banner p {
  font-family: var(--font-primary);
  color: #ffffff;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem 2px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  animation: moveBanner 5s;
}

.banner button {
  font-family: var(--font-primary);
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: #ffffff;
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: moveBanner 7s;
}

.banner button:hover {
  opacity: 0.8;
}

/* Keyframes são usados para animar os elementos */

@keyframes moveBanner {
  0% {
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

/* Menu lateral */
.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  /* Esconde */
  right: -20rem;
  transition: all 0.8s;
}

.show-menu .sidebar {
  /* Aparece */
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}

.menu-link {
  font-family: var(--font-primary);
  font-size: 2rem;
  color: #555;
  transition: color 0.5s;
}

.menu-link:hover {
  color: #d13b3b;
}

.social-media {
  position: absolute;
  bottom: 2rem;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

.social-media i {
  color: #555;
  width: 2.8rem;
  height: 2.8rem;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: color 1s;
  transition: background-color 1.5s;
}

.social-media i:hover {
  color: #ffffff;
  background-color: #d13b3b;
}

/* section acquirements */
.section-acquirements {
  background-color: #000;
}

/* section header titulo */
.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #fff;
  border-bottom: solid 3px #d13b3b;
  margin-bottom: 1.5rem;
}

.acquirement-header {
  display: flex;
  align-items: center;
  color: rgb(237, 63, 63);
}
.acquirement-header i {
  font-size: 2rem;
  color: #d13b3b;
}
.acquirement-header h3 {
  font-family: var(--font-primary);
  font-size: 2rem;
  padding-left: 1rem;
  color: #fff;
}
.acquirement-text {
  font-family: var(--font-primary);
  margin-top: 1rem;
  color: #fff;
}

/* div que engloba todos acquirements */
.acquirements {
  /* https://www.w3schools.com/css/css_grid.asp */
  display: grid;
  /*Separa em 16 colunas*/
  grid-template-columns: repeat(16, 1fr);
  /*Define o tamanho das linhas de 6 colunas*/
  grid-template-rows: repeat(6, 6rem);
  row-gap: 0.5rem;
}

/* cards acquirements */
.acquirement:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}
.acquirement:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}
.acquirement:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
}
.acquirement:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
  z-index: 0;
}
.acquirement:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
  z-index: 0;
}
.acquirement:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;
  z-index: 0;
}

/* Posicionando a img ilustrativa conhecimentos */
.acquirements-img-wrapper {
  grid-column: 6 / 12;
  grid-row: 3 / 8;
  width: 100%;
}
.acquirements-img-wrapper img {
  object-fit: cover;
  width: 100%;
}
